@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html{
  height: 100%;
}

body {
  width: 100%;
  min-height:100%;
background-color: #48c6ef;
  background-attachment: fixed;
  background-size: cover;
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.heading {
  margin-top: 10px;
}

.notesWrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.notesHeader {
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex: 1 1 5%;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 6.2em;
  text-shadow: 4px 4px #4481eb;
  color: #fff;
  text-align: center;
  align-content: center;
  padding:20px 0px 20px 0px;
  margin-bottom: 6px;
  display: block;
}

.notesBody {
  z-index: 10;
  display: flex;
  flex: 1 1 85%;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
}

.notesFooter {
  z-index: 20;
  display: flex;
  -webkit-box-shadow: rgb(72, 198, 239) 1px -20px 82px 40px;
  -moz-box-shadow: rgb(72, 198, 239) 1px -20px 82px 40px;
  box-shadow: rgb(72, 198, 239) 1px -20px 82px 40px;
  flex: 1 1 20%;
  margin-bottom: 10%;
}

.noNotes {
  flex: 1 1 30%;
  margin-bottom: 10%;
}

.haveNotes {
  flex: 1 1 20%;
  margin-bottom: 10%;
}

.note {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 60%;
  font-family: 'Lato', sans-serif;
  font-size: 1.4em;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 5px 30px #4481C3;
  opacity: 1;
}


@keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }
@keyframes fadeOut { from { opactiy:0.9; } to { opacity:0; } }

.fade-in {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: 0.2s;
}

.noteContent{
  max-width: 95%;
  margin: 0 auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  float:left;
  padding: 10px 20px;
  display: block;
}

.closebtn {
    padding-right: 20px;
    color: #333;
    opacity: 0.2;
    font-weight: bold;
    float: right;
    cursor: pointer;
    font-size: 1.3em;
}

.closebtn:hover {
    opacity: 0.9;
    color: #AC2500;
}

.formWrapper{
  padding-top: 30px;
    width: 60%;
    margin: auto;
}

.noteButton{
    min-height: 52px;
    width: 20%;
    border: none;
    margin: 0px;
    box-shadow: 1px 5px 30px #4481C3;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px;
    font-size: 1.3em;
    background-color: #4481eb;
    color: #fff;
    transition: 0.2s ease-out;
    outline: unset;
    cursor: pointer;
}

.noteButton:hover{
    background-color: #02BA85;
    color: #fff;
    transition: 0.2s ease-out;
}

.noteInput{
    box-shadow: 1px 5px 30px #4481C3;
    min-height: 52px;
    float: left;
    width: 80%;
    font-size: 1.3em;
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: 'Droid Sans', sans-serif;
    color: #fff;
    transition: 0.2s ease-out;
    outline: unset;
}

.noteInput:focus{
    background-color: #fff;
    color: #111;
    transition: 0.2s ease-in;
}

.shake {
  animation: shake-keyframes 1s;
}
@keyframes shake-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}
